/*nav样式*/
.nav {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  color: #4a4a4a;
  padding-top: 14px;
  padding-left: 3%;
}

.navmob {
  display: none;
}

.nav img {
  margin-left: 8px;
  float: left;
}

li {
  list-style-type: none;
}

.nav-right span {
  text-align: center;
  width: 60px;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 16px;
  float: left;
  margin-left:6px;
}

.nav-right span::after {
  content: "";
  border-right: 1px solid #4a4a4a;
  margin-left: 8px;
}


@media only screen and (min-width: 1px) and (max-width: 992px) {
  .nav li {
      margin-left: 24px;
  }

  .nav-right {
      display: none;
  }

  .navmob {
      width: 100%;
      position: fixed;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      color: black;
  }

  .navmob ul li {
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      padding-left: 0.5rem;
      color: black;
      border-bottom: 1px solid #ccc;
      border-left: 2px solid #fff;
  }
  .navmob ul li:hover{
      background: white;
      color: black;
      text-decoration:none;
      outline: none;
      border-left: 2px solid #25C0BF;
  }
  .navmob ul li a{
      width: 100%;
      height: 1rem;
      color: black;
      line-height: 1rem;
      text-decoration: none;

  }

  .nav {
      display: flex;
      height: 100%;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      color: #4a4a4a;
      padding-top: 0px;
      padding-left: 1% !important;
  }

  .nav ul {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 6%;
      font-family: PingFangSC-Regular, sans-serif;
      width: 720px;
      margin-block-end: 0;
      margin-bottom: 0;
  }

  .nav-right-mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
          margin-left: 8.5rem;
  }
  
  .showxiala{
      width: 1rem;
      height: 1rem;
      background: white;

  }
  .showxiala img{
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  
  .nav-right-mobile img {
      height: 1.2rem;
      margin: 0 0.3rem;
  }

  .logo {
      height: 2rem;
      margin-top: 0.5rem;
  }
  .languageM{
      background: rgba(255,255,255,.9);
      margin-top: 3.5rem;
      display: none;
      position: absolute;
      right: 1rem;
  }
  .sxy{width: 3px;height: 8px;background: rgba(255,255,255,0);display: inline-table;}
  .title1{display: inline-table;}
  .languageM>div{
      padding: 5px 10px;
  }
  .input {
        width: 9.5rem;
    height: 1.5rem;
    margin-top: 0.8rem;
    margin-left: 1.2rem;
    border-radius: 27px;
    background-color: #02809e;
    position: absolute;
    left: 4.5rem;
    display: none;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 1rem;
  }
  .search-mo {
    position: relative;
  }
  .search-sure{
  	position: relative;
  }
}

@media screen and (min-width: 1400px) {
.input {
  display: none;
}
  .nav li a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      background:url(about:blank);
  }
  .ab a {
    position: absolute;
height: 19px;
width: 82%;
z-index: 10;
  }
.searchTop .search-w {
position: relative;
float: left;
top: 6px;
margin-left: 0px;
margin-right: 10px;
}
  .nav li {
      margin-left: 48px;
      float: left;
      display: inline-table;
      position: relative;
  }

  .nav-right {
      position: relative;
      margin-left: -9px;
      float: left;
      margin-top: 12px;
      width: 133px;
      height: 22px;
  }
  .titlex1{
    text-align: center;
    width: 91px !important;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 14px;
    float: left;
    margin-left: -13px !important;
  }
  .titlex1::after{
    content: "";
    border-right: 1px solid #4a4a4a;
    margin-left: 13% !important;
  }
  .nav-right img {
      float: left;
      height: 18px;
      width: 18px;
  }

  .nav ul {
      margin-left: 18px;
      font-family: PingFangSC-Regular, sans-serif;
      width: 70%;
      margin-block-end: 0;
      margin-bottom: 0;
      float: left;
      margin-top: 10px;
  }

  .nav-right p {
      display: none;
  }

  .nav-right-mobile {
      display: none;
  }

  .logo {
      height: 64px;
    cursor: pointer;
    margin-top: -10px;
  }
  .nav2 li{position: relative;}
  .ab{width: 153px;background: rgba(255,255,255,.9);
    position: absolute;
    top:32px;
    z-index: 100;
    left:-2px;
    padding-top: 14px;
    cursor: pointer;
    display: none;
    
}
.nav2>li>a{border-bottom: 2px solid #fff;padding-bottom: 8px;}
.nav2>li>a:nth-child(1):hover{color:#25C0BF;border-bottom-color: #25C0BF}
.cx{display: block;}
.nav2>li div div{padding: 10px 0;cursor: pointer;}
.nav2>li div div:hover{background: #fff;}
.sx{width: 3px;height: 12px;background: #fff;
  display: inline-table;
  margin-right: 5px;
  top: 2px;
  position: relative;  
}
.ab>div:hover{color:#25C0BF;}
.jt{display: inline-table;float: right;margin-top: 2px;opacity: 0;color:#25C0BF;}
.nav2>li div div:hover .sx{background: #25C0BF;}
.nav2>li div div:hover .jt{opacity: 1;} 
.grounp{position: absolute;right: 8px;}
/* 语言 */
  .yut{margin-top: -13px !important;margin-left: -33px;padding-top: 18px;}
.yut>div{padding: 10px 0;}
.ttb,.showyu{display: inline-table;}
.yut>div:hover{background: #fff;}
.yut>div:hover .ttbg{background: #25C0BF;}
.showyu:hover .yut{display: block;}


/* 搜索 */
.searchTop{
      width: 1171px;
    background: red;
    padding: 18px 14px;
    position: relative;
    left: -988px;
    top: 17px;
    background: linear-gradient(to right,rgba(43,114,220,1),rgba(44,204,192,1) 60%);
  display: none;
}
.searchTop input{
  
  border:none;
  width: 1062px;
  outline: none;
  border: none;
  background: transparent;height: 25px;
}
.searchTop input::-webkit-input-placeholder{color:#fff;font-size: 17px;}  
.cancel{
  display: inline-table;width: 25px;height: 25px;position: absolute;
  right: 52px;top: 15px;cursor: pointer;
}
.qx1{width: 29px;height: 2px;background: #fff;position: relative;transform: rotate(45deg);
  margin-top: 12px;
}
.qx2{width: 29px;height: 2px;background: #fff;position: relative;transform: rotate(-45deg);
  margin-top: -2px;
}
.grounpx{
  position: relative;
  left: 78%;     
  top: 3px; 
}

}

@media screen and (min-width: 992px) and (max-width: 1400px) {
.input {
  display: none;
}
  .nav {
      display: flex;
      height: 70px;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      color: #4a4a4a;
      padding-top: 7px;
  }
  .ab a {
    position: absolute;
height: 19px;
width: 82%;
  }
.searchTop .search-w {
position: relative;
float: left;
top: 7px;
margin-left: 0px;
margin-right: 10px;
}
  .nav li a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
      background:url(about:blank);
  }

  .nav li {
      margin-left: 24px;
      float: left;
      display: block;
      position: relative;
  }
  .title23{margin-left: -13px;}
  .nav-right {
      position: relative;
      margin-left: 25px;
      margin-top: 23px;
      width: 160px;
      height: 18px;
      /*border: 1px solid #000;*/
  }
  .nav-right span {
      /*text-align: center;*/
      width: 86px !important;
	    font-family: PingFangSC-Regular, sans-serif;
	    font-size: 16px;
	    margin-top: -3px;
	    margin-left: 6px;
  }
  .nav-right span::after{
      content: "";
      border-right: 1px solid #4a4a4a;
      position: relative;
      margin-left: 8px;
  }
  .nav-right img {
      height: 16px;
      width: 16px;
  }

  .nav ul {
          margin-left: 20px;
    font-family: PingFangSC-Regular, sans-serif;
    width: 610px;
    margin-block-end: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .nav-right p {
      display: none;
  }
  .nav-right .span1{display: inline-table;}
  
  .nav-right-mobile {
      display: none;
  }
  .logo {
      height: 60px;
      cursor: pointer;

  }
  .ab{width: 180px;background: rgba(255,255,255,.9);
      position: absolute;
      margin-top:6px;
      z-index: 100;
      left:-10px;
      padding-top: 14px;
      display: none;
      z-index: 100;
      font-size: 16px;
  }
  .nav2>li>a{border-bottom: 2px solid #fff;padding-bottom: 6px;}
  .nav2>li>a:nth-child(1):hover{color:#25C0BF;border-bottom-color: #25C0BF}
  .cx{display: block;}
  .nav2>li div div{padding: 10px 0;cursor: pointer;}
  .nav2>li div div:hover{background: #fff;}
  .sx{width: 3px;height: 12px;background: #fff;
    display: inline-table;
    margin-right: 5px;
    top: 2px;
    position: relative;  
  }
  .ab{cursor: pointer;}
  .ab>div:hover{color:#25C0BF;}
  .jt{display: inline-table;float: right;margin-top: 2px;opacity: 0;color:#25C0BF;}
  .nav2>li div div:hover .sx{background: #25C0BF;}
  .nav2>li div div:hover .jt{opacity: 1;}
  /* 语言 */
  .yut{margin-top: 18px;margin-left: -31px;padding-top: 18px;
  }
  .yut>div{padding: 10px 0;}
  .ttb{display: inline-table;}
  .yut>div:hover{background: #fff;}
  .yut>div:hover .ttbg{background: #25C0BF;}
  .showyu:hover .yut{display: block;}
  .grounp{left: 8px;position: relative;}
  /* 搜索 */
  .searchTop{
    width: 950px;
    background: red;
    padding: 18px 14px;
    position: absolute;
    left: -792px;
    top: 38px;
    background: linear-gradient(to right,rgba(43,114,220,1),rgba(44,204,192,1) 60%);
    display: none;
  }
  .searchTop input{width: 800px;outline: none;border: none;
    background: transparent;height: 25px;
  }
.searchTop input::-webkit-input-placeholder{color:#fff;}  
  .cancel{
    display: inline-table;width: 25px;height: 25px;position: absolute;
    right: 20px;top: 20px;cursor: pointer;
  }
  .qx1{width: 22px;height: 2px;background: #fff;position: relative;transform: rotate(45deg);
    margin-top: 12px;
  }
  .qx2{width: 22px;height: 2px;background: #fff;position: relative;transform: rotate(-45deg);
    margin-top: -1px;
  }
  /*.grounpx{
    position: relative;
   
  }*/
}


